body {
  margin: 0px auto;
  padding: 0;
  font-family: sans-serif;
}

div.top {
  text-align: center;
  background-color: black;
  color: white;
  height: 230px;
}

div.menu {
  padding: 5px;
  background-color: black;
  text-align: center;
}

div.mapcontainer {
  height: 650px;
}

div.points {
	text-align: center;
}

div.startdirections {
	text-align: center;
}

div.enddirections {
	text-align: center;
}
